@model StoreFront.DATA.EF.Models.Supplier

@{
    ViewData["Title"] = Model.SupplierName + " Details";
}

<section class="product_section gray-section layout_padding pb-4 pt-4 mb-4 text-center">
    <div class="heading_container heading_center">
        <h2>
            @Model.SupplierName Details
        </h2>
    </div>
</section>
<br />
<br />

<div>

    <dl class="row col-md-8 offset-md-4">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierVillage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierVillage)
        </dd>
    </dl>
</div>
<br />
<br />
<br />
<br />
<div class="form-group p-4 text-center">
    <input type="submit" value="Edit" class="btn btn-primary" /> |
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</div>
<br />
<br />
<br />
<br />
