@model StoreFront.DATA.EF.Models.Product

@{
    ViewData["Title"] = "Delete " + Model.ProductName;
}


<h3 class="alert alert-danger">Are you sure you want to delete @Model.ProductName? This action cannot be undone!</h3>
<div class="row mb-3">
    @* <h4>Product</h4>
    <hr /> *@
    <div class="col-md-6 text-center">
        <img src="~/img/@Model.ProductImage" alt="@Model.ProductName" longdesc="@Model.ProductDescription" class="img-fluid" />
        <p class="text-info mt-3">
            @Html.DisplayFor(model => model.ProductDescription)
        </p>
    </div>
    <div class="col-md-4 offset-md-1 align-middle">
        <p class="h3">
            <strong>@Html.DisplayNameFor(model => model.ProductPrice):</strong>
            @Html.DisplayFor(model => model.ProductPrice)
        </p>
        <p class="h3">
            <strong>@Html.DisplayNameFor(model => model.ItemsInStock):</strong>
            @Html.DisplayFor(model => model.ItemsInStock)
        </p>
        <p class="h3">
            <strong>@Html.DisplayNameFor(model => model.ItemsOnOrder):</strong>
            @Html.DisplayFor(model => model.ItemsOnOrder)
        </p>
        <p class="h3">
            <strong>@Html.DisplayNameFor(model => model.IsDiscontinued):</strong>
            @Html.DisplayFor(model => model.IsDiscontinued)
        </p>
        <p class="h3">
            <strong>@Html.DisplayNameFor(model => model.Category.CategoryName):</strong>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </p>
        <p class="h3">
            <strong>@Html.DisplayNameFor(model => model.Supplier.SupplierName):</strong>
            @Html.DisplayFor(model => model.Supplier.SupplierName)
        </p>
    </div>

</div>


<div class="p-4 text-center">
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>