@model IEnumerable<StoreFront.DATA.EF.Models.Product>

@{
    ViewData["Title"] = "Products";
}

@* <h1>Index</h1> *@

<section class="product_section layout_padding">
    <div class="single-product-slider">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="section-title">
                        <h1>Our Products</h1>
                    </div>
                </div>
            </div>
        </div>
        <p align="center">
            @if (User.IsInRole("Admin"))
            {
                <span>
                    <a asp-action="Create" class="btn btn-success">Create New Product</a>
                </span>
            }
            <a asp-action="TiledProducts" class="btn btn-primary mx-4">Tile View</a>            
        </p>
    </div>
</section>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div id="MessageContent" class="text-center">

        </div>
    </div>
</div>

<section class="product_section pb-4 pt-4 mb-4">
    <table class="table table-hover table-striped" id="ProductsTable">
        <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductImage)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductPrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ItemsInStock)
                    </th>
                @if (User.IsInRole("Admin"))
                {
                    <th>
                        @Html.DisplayNameFor(model => model.ItemsOnOrder)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsDiscontinued)
                    </th>
                }
                    
                
                    <th>
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nature)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductStatus)
                    </th>
                @if (User.IsInRole("Admin"))
                {
                    <th>
                        @Html.DisplayNameFor(model => model.Supplier)
                    </th>
                }
                    <th></th>
                </tr>
            </thead>
            <tbody>

            @foreach (var item in Model) 
            {
                <tr id="Product-@item.ProductId">
                    <td>
                        <img src="~/img/t_@item.ProductImage" class="img-fluid" alt="@item.ProductName" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemsInStock)
                    </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemsOnOrder)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsDiscontinued)
                    </td>
                }
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nature.NatureName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductStatus.ProductStatusName)
                    </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                            @Html.DisplayFor(modelItem => item.Supplier.SupplierName)
                    </td>
                }
                    <td>

                        <button type="button" class="DetailsLink btn btn-link btn-success" id="@item.ProductId" data-toggle="modal" data-target="#ProductDetails">
                            Details
                        </button>

                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a>
                            

                @if(item.OrderProducts.Count() == 0)//item.OrderProducts retrieves any related records for the Product
                {
                                <a data-ajax="true" data-ajax-confirm="Are you sure you want to delete @item.ProductName?"
                                   data-ajax-failure="deleteFailed" data-ajax-success="deleteConfirmed" data-ajax-method="POST"
                                   href="~/Products/AjaxDelete/@item.ProductId">
                                    Delete
                                </a>
                }
                else
                {
                    <a disabled="true" class="text-danger" style="text-decoration: line-through;" title="Can't delete - referenced by other records">Delete</a>
                }
                }
                    </td>
                    </tr>
            }
        </tbody>
    </table>
</section>

<div class="modal fade" id="ProductDetails" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Details</h5>
            </div>
            <div class="modal-body" id="DetailsBody"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            
            $('.table').DataTable();
        });
       
        function deleteConfirmed(response, status, data) {
            
            let rowId = "#Product-" + response.id;
            console.log(rowId);
            $("#ProductsTable").find(rowId).remove();

            
            $("#MessageContent").html("<div class='alert alert-success'>" + response.message + "</div>");
        }

        function deleteFailed(response, status, data) {
            
            $("#MessageContent").html("<div class='alert alert-danger'>Delete unsuccessful.</div>");
        }

       
        $(".DetailsLink").on("click", function (e) {
            let prodId = $(this).attr("id");
            $("#DetailsBody").load("/Products/ProductDetails/" + prodId);
        });

    </script>
}