@model StoreFront.DATA.EF.Models.Product

<div>
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.ProductDescription)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.ItemsInStock)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.ItemsInStock)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Nature)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Nature.NatureName)
        </dd>
    </dl>
</div>
