@model IPagedList<StoreFront.DATA.EF.Models.Product>
@using X.PagedList
@using X.PagedList.Mvc.Core

@{
    ViewData["Title"] = "Tiled Products";
}

<section class="product_section layout_padding">
    <div class="single-product-slider">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="section-title">
                        <h1>Our Products</h1>
                    </div>
                </div>
            </div>
        </div>
        <p align="center">
            @if (User.IsInRole("Admin"))
            {
                <span>
                    <a asp-action="Create" class="btn btn-success">Create New Product</a>
                </span>
            }
            <a asp-action="Index" class="btn btn-primary mx-4">Table View</a>
        </p>
        <div class="row">

            <div class="col-sm-6 offset-sm-3">
                <form asp-action="TiledProducts" method="get">

                    <label for="categoryId" class="control-label d-block text-center">Filter by Category</label>
                    <select name="categoryId" class="form-control text-center mb-3" asp-items="ViewBag.CategoryId">
                        <option value="0">[Choose a Category]</option>
                    </select>
                    <input name="searchTerm" class="form-control text-center mb-3" placeholder="Search Gadgets" />
                    <input type="submit" value="Go" class="btn btn-primary text-center w-50 d-block mb-5" />

                </form>

                @if (ViewBag.NbrResults != null)
                {
                    <p class="mt-5 p-2 alert alert-warning text-center">
                        Showing @ViewBag.NbrResults result@(ViewBag.NbrResults == 1 ? "" : "s") for '@ViewBag.SearchTerm'.
                    </p>
                }
            </div>
            <br />
            <br />
            <br />

            @foreach (var item in Model)
            {
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="single-product">
                        <img class="img-fluid" src="~/img/t_@item.ProductImage" alt="@item.ProductName">
                        <div class="product-details">
                            <h6>

                                <button type="button" class="DetailsLink btn btn-link" id="@item.ProductId" data-toggle="modal" data-target="#ProductDetails">
                                    @item.ProductName
                                </button>
                            </h6>
                            <div class="price">
                                <h6>
                                    @Html.DisplayFor(modelItem => item.ProductPrice)
                                </h6>
                            </div>
                            <div class="prd-bottom">
                                    
                                <a asp-action="AddToCart" asp-controller="ShoppingCart" asp-route-id="@item.ProductId" class="social-info">
                                    <span class="ti-bag"></span>
                                    <p class="hover-text">Add To Bag</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row mt-5">
            <div class="w-50 mx-auto text-center">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                <div class="w-100">
                    @Html.PagedListPager(
                             Model,
                             page => Url.Action("TiledProducts", new { page, searchTerm = ViewBag.SearchTerm, categoryId = ViewBag.CategoryId })
                    )
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="ProductDetails" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Details</h5>
            </div>
            <div class="modal-body" id="DetailsBody"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script> 
        $(".DetailsLink").on("click", function (e) {
            let prodId = $(this).attr("id");
            $("#DetailsBody").load("/Products/ProductDetails/" + prodId);
        });
    </script>
   
}
